challenge2/Node-Red.txt
[{"id":"b58b8c1f.07f89","type":"file in","z":"bd9a6.1d9b165b","name":"","filename":"/home/user/Desktop/iot-feeds.csv","format":"utf8","chunk":false,"sendError":false,"x":380,"y":280,"wires":[["e7d5ebed.abe3a8"]]},{"id":"e7d5ebed.abe3a8","type":"csv","z":"bd9a6.1d9b165b","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"code,field,field2,field3,field4,field5,field6,field7","skip":"0","x":590,"y":360,"wires":[["1f3a25a3.0cc7b2"]]},{"id":"1f3a25a3.0cc7b2","type":"switch","z":"bd9a6.1d9b165b","name":"","property":"payload.code","propertyType":"msg","rules":[{"t":"btwn","v":"6982","vt":"num","v2":"7081","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":120,"wires":[["6f9256c7.c51988"]]},{"id":"3393209c.7f1c4","type":"function","z":"bd9a6.1d9b165b","name":"Chart","func":"RSSI= msg.payload.field5;\nmsg.payload = RSSI;\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":160,"wires":[["b04b4d6.4b7b73"]]},{"id":"9c605276.fd304","type":"debug","z":"bd9a6.1d9b165b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1260,"y":480,"wires":[]},{"id":"febaba2a.c8f7f","type":"inject","z":"bd9a6.1d9b165b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":140,"wires":[["b58b8c1f.07f89"]]},{"id":"f4c5225c.78e93","type":"function","z":"bd9a6.1d9b165b","name":"ThingSpeak","func":"var field1 = msg.payload.field1\nvar field2 = msg.payload.field2\nvar field5 = msg.payload.field5\n\nmsg.topic = \"channels/1712709/publish\"\nmsg.payload = \"field1=\"+field1+\"&field2=\"+field2+\"&field5=\"+field5+\"&status=MQTTPUBLISH\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[["9c605276.fd304","45b9531b.d08efc"]]},{"id":"6f9256c7.c51988","type":"delay","z":"bd9a6.1d9b165b","name":"","pauseType":"rate","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":360,"wires":[["f4c5225c.78e93","3393209c.7f1c4","9c605276.fd304"]]},{"id":"b04b4d6.4b7b73","type":"ui_chart","z":"bd9a6.1d9b165b","name":"","group":"93ff09c1.520268","order":0,"width":0,"height":0,"label":"RSSI vs Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1160,"y":40,"wires":[[],[]]},{"id":"785d4a99.1efaa4","type":"inject","z":"bd9a6.1d9b165b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":40,"wires":[["e3521f00.095528"]]},{"id":"e3521f00.095528","type":"function","z":"bd9a6.1d9b165b","name":"Clear chart","func":"msg.payload =  [];\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":60,"wires":[["b04b4d6.4b7b73"]]},{"id":"8ba7d025.42d0e8","type":"change","z":"bd9a6.1d9b165b","name":"Reset the limiter","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":460,"wires":[["6f9256c7.c51988"]]},{"id":"2c3f6e05.73dfc2","type":"inject","z":"bd9a6.1d9b165b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":460,"wires":[["8ba7d025.42d0e8"]]},{"id":"45b9531b.d08efc","type":"mqtt out","z":"bd9a6.1d9b165b","name":"","topic":"","qos":"","retain":"","broker":"3977f1fe.a69c16","x":1330,"y":340,"wires":[]},{"id":"93ff09c1.520268","type":"ui_group","z":"","name":"RSSI","tab":"5bf23f42.b00db","disp":true,"width":"6","collapse":false},{"id":"3977f1fe.a69c16","type":"mqtt-broker","z":"","name":"Challenge2","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"AAYSIBMjLDE2ByYIFwM6GBM","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5bf23f42.b00db","type":"ui_tab","z":"","name":"RSSI","icon":"dashboard","order":4}]