challenge3/sub/Node-Red.txt
[{"id":"2eac0697.2f1bb2","type":"debug","z":"39c11ad3.d0095e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":60,"wires":[]},{"id":"43bdddae.b5be5c","type":"tcp in","z":"39c11ad3.d0095e","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":180,"wires":[["adee1f4.246d86"]]},{"id":"adee1f4.246d86","type":"function","z":"39c11ad3.d0095e","name":"ThingSpeak","func":"var field1 = msg.payload[0]//red\nvar field2 = msg.payload[1]//green\nvar field3 = msg.payload[2]//blue\n\nmsg.topic = \"channels/1727264/publish\"\nmsg.payload = \"field1=\"+field1+\"&field2=\"+field2+\"&field3=\"+field3+\"&status=MQTTPUBLISH\"\n//msg.payload = \"red=\"+field1+\"&green=\"+field2+\"&blue3=\"+field3\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["2eac0697.2f1bb2","d876858a.8d29d8"]]},{"id":"d876858a.8d29d8","type":"mqtt out","z":"39c11ad3.d0095e","name":"","topic":"","qos":"","retain":"","broker":"e2aee914.c7bc2","x":950,"y":300,"wires":[]},{"id":"e2aee914.c7bc2","type":"mqtt-broker","z":"","name":"Challenge3","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"JwsLAw8RIg0lKiIWMw0IAS8","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]